.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container p {
    font-size: 50px;
    color: #fff;
}
.nav-container ul {
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}


.bi-github,.bi-box-arrow-in-right{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s ease all;
}

.bi-github:hover,.bi-box-arrow-in-right:hover{
    color: rgb(32, 110, 255);
}

.nav-container ul li:last-child {
    font-size: 33px;
}
