body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Lato, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root{
  height: 100vh;
  background: rgb(45,57,73);
  background: linear-gradient(262deg, rgba(45,57,73,1) 0%, rgba(122,130,141,1) 100%);
}